.flex-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

.flex-grow-one {
    flex-grow: 1;
}

.flex-grow-2nd-only {
    flex-grow: 1;
}

.flex-grow-proportional .flex-item:first-child {
    flex-grow: 1;
}

.flex-grow-proportional .flex-item:nth-child(2) {
    flex-grow: 2;
}

.flex-grow-proportional .flex-item:nth-child(3) {
    flex-grow: 3;
}